@charset "UTF-8";
.docs-hidden {
	display: none;
}
@media screen and (min-width: 1000px) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
		display: flex;
		margin: 0;
	}
	main, nav {
		display: block;
		padding: 8px;
		box-sizing: border-box;
		height: 100vh;
		overflow: auto;
	}
	nav {
		width: 20em;
		background: #eee;
		border-right: 1px solid #999;
	}
	nav h3, nav details {
		margin: 8px 0;
	}
	nav details {
		background: #ddd;
		border: 1px solid #999;
		border-radius: 3px;
	}
	nav summary {
		padding: 4px;
	}
	nav details[open] > summary {
		border-bottom: 1px solid #999;
	}
	nav summary h4 {
		margin: 0;
	}
	nav ul {
		padding: 0;
		margin: 0;
	}
	nav li {
		list-style: none;
		padding: 1px 4px;
	}
	nav li:nth-child(odd) {
		background: #ccc;
	}
	nav li a {
		text-decoration: none;
		width: 100%;
		display: inline-block;
	}
	nav code {
		font-size: 90%;
	}
	nav + hr {
		display: none;
	}
	main {
		width: calc(100% - 20em);
	}
	@media (prefers-color-scheme: dark) {
		nav {
			background: #111;
			border-color: #444;
		}
		nav details {
			background: #222;
		}
		nav details, nav details[open] > summary {
			border-color: #444;
		}
		nav li:nth-child(odd) {
			background: #171717;
		}
	}
}
@media print {
	nav {
		display: none;
	}
}
