@charset "UTF-8";

:root {
	font-family: sans-serif;
	color-scheme: light dark;
	tab-size: 4;
}
tt, code, kbd, samp {
	font-family: monospace, monospace;
	font-stretch: condensed;
}
table, thead, tbody, tfoot, th, td {
	border: 1px solid currentcolor;
	border-collapse: collapse;
	padding: 2px 4px;
}
dd ol, dd dl, dd ul, dd menu {
	margin: 0;
}
dt {
	margin-top: 8px;
}
:target:not([id^="docs-"]) {
	background: #ff07;
}
summary h1, summary h2, summary h3, summary h4, summary h5, summary h6 {
	display: inline;
}
@media screen and (prefers-color-scheme: dark) {
	:root {
		background: black;
		color: #d7d7d7;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #f0f0f0;
	}
	:link {
		color: #7ab6ff;
	}
	:visited {
		color: #cd99ff;
	}
	:target:not([id^="docs-"]) {
		background: #ff03;
	}
}

.breadcrumbs {
	list-style: none;
	padding: 0;
}
.breadcrumbs > li {
	display: inline;
}
.breadcrumbs > li:not(:last-child)::after {
	content: " → ";
}

.alert-warning, .alert-undocumented, .alert-removed, .alert-added, .alert-note {
	border: 0 solid currentcolor;
	outline: 1px none currentcolor;
}
.alert-warning {
	background: #fed;
	color: #520;
	border-style: dashed;
	outline-style: dashed;
}
.alert-undocumented {
	background: #eee;
	color: #333;
}
.alert-removed {
	background: #fdd;
	color: #500;
	border-style: dashed;
	outline-style: dashed;
}
.alert-added {
	background: #dfd;
	color: #040;
}
.alert-note {
	background: #def;
	color: #025;
}
@media screen and (prefers-color-scheme: dark) {
	.alert-warning {
		background: #520;
		color: #edc;
	}
	.alert-undocumented {
		background: #333;
		color: #eee;
	}
	.alert-removed {
		background: #500;
		color: #edd;
	}
	.alert-added {
		background: #040;
		color: #ded;
	}
	.alert-note {
		background: #025;
		color: #cde;
	}
}
.alert {
	border-width: 2px;
	outline: none;
	border-radius: 3px;
	padding: 8px;
}

.bad {
	color: #a00;
}
.good {
	color: #060;
}
@media screen and (prefers-color-scheme: dark) {
	.bad {
		color: #f77;
	}
	.good {
		color: #7f7;
	}
}
