@charset "UTF-8";

:root {
	font-family: sans-serif;
	color-scheme: light dark;
}
tt, code, kbd, samp {
	font-family: monospace, monospace;
}
dd ol, dd dl, dd ul, dd menu {
	margin: 0;
}
@media screen and (prefers-color-scheme: dark) {
	:root {
		background: black;
		color: #d7d7d7;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #f0f0f0;
	}
	:link {
		color: #7ab6ff;
	}
	:visited {
		color: #cd99ff;
	}
}

table, thead, tbody, tfoot, th, td {
	border: 1px solid currentcolor;
	border-collapse: collapse;
	padding: 2px 4px;
}

.breadcrumbs {
	list-style: none;
	padding: 0;
}
.breadcrumbs > li {
	display: inline;
}
.breadcrumbs > li:not(:last-child)::after {
	content: " → ";
}

.alert {
	border: 1px solid currentcolor;
	padding: 8px;
	display: table;
}
.alert-warning {
	background: #fed;
	color: #730;
}
.alert-undocumented {
	background: #ddd;
}
.alert-removed {
	background: #fdd;
	color: #700;
}
.alert-added {
	background: #dfd;
	color: #030;
}
@media screen and (prefers-color-scheme: dark) {
	.alert-warning {
		background: #730;
		color: #edc;
	}
	.alert-undocumented {
		background: #222;
	}
	.alert-removed {
		background: #700;
		color: #edd;
	}
	.alert-added {
		background: #030;
		color: #ded;
	}
}

.bad {
	color: #a00;
}
.good {
	color: #060;
}
@media screen and (prefers-color-scheme: dark) {
	.bad {
		color: #f77;
	}
	.good {
		color: #7f7;
	}
}
