@charset "UTF-8";
.alert {
	border: 1px solid currentcolor;
	padding: 8px;
	display: table;
}
.alert-warning {
	background: #fed;
	color: #730;
}
.alert-undocumented {
	background: #ddd;
}
.alert-removed {
	background: #fdd;
	color: #700;
}
.alert-added {
	background: #dfd;
	color: #030;
}
@media screen and (prefers-color-scheme: dark) {
	.alert-warning {
		background: #730;
		color: #edc;
	}
	.alert-undocumented {
		background: #222;
	}
	.alert-removed {
		background: #700;
		color: #edd;
	}
	.alert-added {
		background: #030;
		color: #ded;
	}
}
