@charset "UTF-8";
.docs-hidden {
	display: none;
}
@media (min-width: 60em) {
	html {
		height: 100%;
	}
	body {
		min-height: 100%;
		display: flex;
		margin: 0;
	}
	main, nav {
		display: block;
		padding: 8px;
	}
	nav {
		width: 20em;
		background: #ccc;
		height: 100vh;
		overflow-y: scroll;
		position: sticky;
		top: 0;
		box-sizing: border-box;
	}
	nav ul {
		padding-left: 1em;
	}
	nav + hr {
		display: none;
	}
	main {
		width: calc(100% - 20em);
	}
	@media screen and (prefers-color-scheme: dark) {
		nav {
			background: #222;
		}
	}
}
